.app-modal {
  .ant-modal-title {
    text-align: center;
    font-size: 1.8rem;
  }

  .type .ant-checkbox-wrapper {
    width: 20%;
  }

  .form-btn {
    display: flex;
    justify-content: center;
  }
}
